#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.item .item-content {
  background-color: transparent !important;
}
ion-item {
  color: rgb(0, 17, 255);
  background-color:#5c1919;

}
ion-title {
  color: rgb(16, 14, 136);
  font-size: 30px;
  background-color:#ffffff;
}
/** For form invalid field for Ionic Angular*/
.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}

/** For form invalid field for Angular*/
input.ng-invalid.ng-touched{
  border: 1px solid red;
}
body{
  background-color : purple;
  height: 800px;
  width: 100%;

  background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.webp')

}
.center{
  text-align:center;
}
